.button-border  {
    display: inline-block;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    padding: 2px;
    border-radius: 100px;
    .button-border__text{
        display: inline-block;
        padding: 7px 18px 8px 18px;
        border : none;
        border-radius: 100px;
        background: #FFFFFF;
        color: #BC9CFF;
        font-family : 'Montserrat_Bold';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        outline: none;
        }                     
}
.button-border:hover{
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}