.icon-text-list {
    max-width : 291px;
    &__group {
        display: flex;
    }
    &__icon {
        background: $purple-gradient;
        width: 46px;
        height: 46px;
        i {
            background: $white;
            mix-blend-mode: screen;
            font-size : 48px;
            position: relative;
            top:-5px;
            left: -1px;
            color:$dark-100;
        }
    }
    &__text {
        margin: 3px 0px 0px 10px;
        line-height: 24px;
    }
    &__main-text {
        @extend %regular-text;    
        margin : 0px;
        color: $dark-75;
    }
    &__header {
        @extend %label-text;
        color: $dark-75;
        font-style: 14px;
        margin : 0px;
        text-transform: capitalize;
    }
    &__divider{
        background: $dark-10;
        height: 1px;
        width: 100%;
        margin : 20px 11px 20px 0px;
    }
}
.room-details__container-info {
    .icon-text-list__icon i {
        top: 10px;
    }
}