mixin icon-text-list(props={})
        -let { items } = props
        .icon-text-list
            -let i = 0
            each item in items 
                -let { header, text, icon } = item
                    if i == 0

                    else
                        .icon-text-list__divider
                    .icon-text-list__group
                        .icon-text-list__icon
                            i.material-icons=icon
                        .icon-text-list__text
                            p.icon-text-list__header=header
                            span.icon-text-list__main-text=text
                    -i++    
            
