@import '../../blocks/card-hotel-room/slick.css';

.card-hotel-room {
    width: 270px;
    height: 257px;
    padding : 0px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    &__image-slider{
        width: 270px;
        height: 150px;
        .slick-slide {
            background-size: cover;
            height: 100%;
        }
    }
    .slick-track {
        height: 100%;
    }
    .slick-slide > div {
        height: 100%;
        img {
            height: 100%;
        }
    }
    .slick-slider {
        width: 270px;
        height: 150px;
    }
    .slick-list.draggable{
        border-radius: 4px 4px 0px 0px;
    }
    .slick-arrow {
        width: 150px;
        height: 42px;
        position : relative;
        z-index : 1; 
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition-duration: 500ms;
        cursor: pointer;
        i.material-icons {
            color : $white; 
            display: inline;
        }
    }
    .slick-prev{
        transform: rotate(90deg);
        top: 53px;
        left : -54px;
        border-radius: 0px 0px 0px 4px;   
    }
    .slick-list {
        height: 100%;
        top:-43px;
        width: 100%;
        border-radius: 4px;
    }
    .slick-next {
        transform: rotate(-90deg);
        top : -139px;
        left: 174px;
        border-radius: 0px 0px 4px 0px; 
    }
    .slick-dots {
        display: flex;
        list-style: none;
        margin : 0px;
        position: relative;
        top: -107px;
        left: 213.75px;
        width: 41.25px;
        padding: 0px;
        justify-content: space-between;
        cursor:pointer;
    }
    .slick-dot.custom{
        width: 7.5px;
        height: 7.49px;
        background: none;
        box-shadow: 0px 5px 5px $dark-30;
        border-radius: 7.5px;
        border: 1px solid $white;
        box-sizing: border-box;
    }
    .slick-active .slick-dot.custom {
        background: $white;
    }         
    &__image-slider:hover {
        .slick-arrow {
           opacity: 1;
           transition-duration: 500ms;
        }
    }
    .slick-next:hover, .slick-prev:hover {
        background: $slick-buttons-gradient;
        transition-duration: 500ms;
    }
    &__info{
        padding : 20px 17px 19px 18px;
    }
    &__number-symbol {
        font-family: 'Quicksand';
        font-weight: bold;
        color: $dark-100;
    }
    &__room-number {
        font-family: 'Quicksand';
        font-weight: bold;
        font-size: 20px;
        color: $dark-100;
    }
    
    &__info-row {
        @extend %regular-text;
        color: $dark-50;
        position: relative;
        display: flex;
        justify-content: space-between;
        line-height: 17.5px;
        p {
            margin: 0px;
            display: inline;
        }
    }
    .card-hotel-room__room-class {
        @extend %label-text;
        margin-left: 4px;
        font-size: 14px;
        line-height: 14.63px;
        color: $purple;
    }
    &__info-price{
        display: flex;
        align-items: center;
    }
    .card-hotel-room__duration {
        margin-left: 2px;
        font-family: 'Montserrat';
        font-weight: normal;
    }
    &__info-guest {
        font-family: 'Montserrat';
        font-weight: normal;
        text-transform: capitalize;
        position: relative;
        line-height: 18px;
        display: flex;
        align-items: center;
    }
    &__review-number {
        font-family: 'Montserrat';
        font-weight: bold;
        margin-right: 4px;
    }    
    .rating{
        line-height: 20.4px;
    }     
    &__info-divider {
        display: block;
        background: $dark-10;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 8px;
    }
    &__room-cost,&__cost-currency {
        @extend %label-text;
        font-size: 14px;
        line-height: 18px;
        color: $dark-50;
    }
}
           