.button-icon{
    padding : 0px;
    background: #FFFFFF;
    outline: none;
    border: none;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14.63px;
    color: #BC9CFF;
    cursor: pointer;
    &:hover {
        opacity:0.5;
    }
    &.gray {
        color: rgba(31, 32, 65, 0.5);
    }
}