.button-icon{
    padding : 0px;
    @extend %label-text;
    outline: none;
    border: none;
    background: $white;
    line-height: 14.63px;
    color: $purple;
    cursor: pointer;
    &:hover {
        opacity:0.5;
    }
    &.gray {
        color: $dark-50;
    }
}