@import '../../import/import.scss';
.search-room{
    &__container {
        display: flex;
        justify-content: center;
        max-width: 1160px;
        margin: 100px auto;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: normal;
    }
    &__header {
        @extend %label-text;
        color: $dark-100;
        margin: 0px 0px 5px 0px;
    }
    &__search-tools {
        .button-smallscr.close{
            display: none;
        }
        .date-dropdown-filter{
            margin-bottom: 21px;
        }
        .select {
            max-width: 266px;
        }
        .select[data-type=guests]{
            margin-bottom: 30px;
        }
        .select[data-type=rooms]{
            margin-bottom: 16px;
        }
        .checkbox-buttons{
            margin-bottom: 30px;
        }
        .checkbox-buttons-rich {
            margin-bottom: 30px;
        }
        .checkbox-list {
            .list__options.active > .options__item {
                margin-bottom: 0px;
            }
        }
    }
    &__container-header {
        display: inline-block;
        margin: 0px 0px 20px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #1F2041;
    }
    &__text{
        @extend %regular-text;
        font-size: 12px;
        line-height: 14px;
        color: $dark-50;
        margin-bottom: 30px;
    }
    &__container-room{
        margin-left: 60px;
    }
    &__button  {
        display: flex;
        justify-content: space-between;
    }
    &__button{
        display: none;
    }
    &__container-pagination {
        display: flex;
        justify-content: center;
    }
    &__container-cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 12px;
    }
}

@media(max-width: 1200px) {
    .search-room__container-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:980px){
    .search-room {
        &__search-tools{
            max-width: 0;
            overflow: hidden;
            position: absolute;
            top: 70px;
            left: -300px;
            transition-duration: 500ms;
        }
        &__search-tools.active{
            max-width: 266px;
            position: absolute;
            top: 70px;
            left: 0;
            z-index: 2;
            background-color: $white;
            padding: 15px 15px 60px;
            box-shadow: $shadow-20;
            border-radius: 0px 0px 30px 0px;
            transition-duration: 500ms;
        }             
        
        &__container-room{
            margin: 0px auto;
        }
        &__button{
            display: inline-flex;
            font-size: 24px;
            position: relative;
            width: 24px;
            height: 24px;
            border: 2px solid $dark-50;
            padding: 4px;
            border-radius: 24px;
            cursor: pointer;
            i.material-icons{
                position: relative;
                top: -1px;
            }
        }        
        &__button-open {
            top: 5px;
            left: -5px;
        }
        &__button-close{
            display: inline-block;
            height: 24px;
            padding: 4px;
            border-radius: 24px;
            top: 10px;
            left: 230px;
            cursor: pointer;
        }
    }
}    
@media(max-width: 650px){
    .search-room{
        &__container-room {
            margin:0px 5px;
        }
        &__search-tools.active{
            padding: 10px 5px 60px;
        }
        &__container-cards {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-items: center;
            padding: 20px 0px;
        }
        &__container-header {
            display: inline;
        }
    }    
    span.search-room__button  {
        padding: 0px 5px;
        .search-room__container-header {
            font-size: 22px;
        } 
    } 
}