include ../../import/import
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
        link(rel="manifest" href="./assets/favicons/site.webmanifest")
        link(rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
        title Search room
    body
        +header( false,'юлий цезарь',{
            items: [
                {item: ['О нас']},
                {item:['Услуги','Услуга 1','Услуга 2']},
                {item: ['Вакансии']},
                {item: ['Новости']},
                {item: ['Соглашения','Соглашение 1','Соглашение 2']}
            ]}) 
        main.search-room__container
            section.search-room__search-tools.js-search-room__search-tools
                .search-room__button-close.js-search-room__button-close.search-room__button
                    i.material-icons keyboard_arrow_right
                p.search-room__header Даты пребывания в отеле
                +date-dropdown-filter
                +select('guests',false,[3,0,1])
                +range-slider
                .search-room__text Стоимость за сутки пребывания в номере
                +checkbox-buttons([0,1,1],'Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)')
                p.search-room__header доступность
                +rich-checkbox-buttons({
                    items: [
                        {
                            header: 'Широкий коридор',
                            mainText: 'Ширина коридоров в номере не менее 91 см.'
                        },
                        {
                            header: 'Помощник для инвалидов',
                            mainText: 'На 1 этаже вас встретит специалист и проводит до номера.'
                        }
                        ]})
                +select('rooms',false,[2,2,0])
                +checkbox-list('дополнительные удобства',true,[0,1,1,1,0,0],'Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь')
            section.search-room__container-room
                .search-room__button-open.search-room__button.js-search-room__button-open 
                    i.material-icons settings
                h1.search-room__container-header Номера, которые мы для вас подобрали
                section.search-room__container-cards
                    +card-hotel-room('888','room-888.jpg',true,5,'9 990','₽ ','145 ')
                    +card-hotel-room('840','room-840.jpg',false,4,'9 990','₽ ','65 ')
                    +card-hotel-room('980','room-980.jpg',true,3,'8 500','₽ ','35 ')
                    +card-hotel-room('856','room-856.jpg',false,5,'7 300','₽ ','19 ')
                    +card-hotel-room('740','room-740.jpg',false,4,'6 000','₽ ','44 ')
                    +card-hotel-room('982','room-982.jpg',false,3,'5 800','₽ ','56 ')
                    +card-hotel-room('678','room-678.jpg',false,5,'5 500','₽ ','45 ')
                    +card-hotel-room('450','room-450.jpg',false,4,'5 300','₽ ','39 ')
                    +card-hotel-room('350','room-350.jpg',false,3,'5 000','₽ ','77 ')
                    +card-hotel-room('666','room-666.jpg',false,5,'5 000','₽ ','25 ')
                    +card-hotel-room('444','room-444.jpg',false,4,'5 000','₽ ','15 ')
                    +card-hotel-room('352','room-352.jpg',false,3,'5 000','₽ ','55 ')
                section.search-room__container-pagination
                    +pagination
        +footer({
            header :  ['Навигация','О нас','Служба поддержки','Подписка'],
            item1 : ['О нас','О сервисе','Соглашения','Получайте специальные предложения и новости сервиса'],
            item2 : ['Новости','Наша команда','Сообщества'],
            item3 : ['Служба поддержки','Вакансии','Связь с нами'],
            item4 : ['Услуги','Инвесторы']
            })