.like-button {
    @extend %regular-text;
    display: flex; 
    align-items:center;
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background : $white;
    border: 1px solid $dark-25;
    cursor: pointer;
    font-size: 10px;
    position: relative;
    color: $dark-25;
    transition-duration: 500ms;
    padding: 0px 6px 0px 0px;
    &__img {
        width: 20px;
        display: flex; 
        justify-content: center;            
        i.material-icons.md-10{
            font-family: "Material Icons";
            font-size: 10px;
            color : $purple;
        }
    }
    &.active {
        border: 1px solid $purple;
        transition-duration: 500ms;
        .like-button__body {
            color: $purple;
            transition-duration: 500ms;          
        }  
    }
}