mixin toggle(isChecked=false)
        .toggle
            if isChecked
                input.toggle__button(type="checkbox" id="toggle-button" checked)
            else
                input.toggle__button(type="checkbox" id="toggle-button")
            label.toggle__label(for="toggle-button") Получать спецпредложения