.header{
    width : 100%;
    position : fixed;
    top:0;
    z-index: 4; 
    font-size: 14px;
    height : 70px;
    background: $white;
    text-transform: none;
    box-shadow: $shadow-5;
    a{
        text-decoration: none;
        color: $dark-50;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height : 70px;
        margin : auto;
        padding: 0px 20px;
        max-width: 1160px; 
    }
    &__logo {
        margin : 0px 0px 0px 0px;
        width: 106px;
        height: 40px;
        position: relative;
        z-index:  3;
    }
    &__menu {
        display: flex;  
        align-items: center;
    }
    &__item-href{
        color: $dark-50;
    }
    &__list {
        @extend %regular-text;
        display: flex;
        align-items: center;
        line-height: 17px;
        .material-icons{
            display: inline;     
        }
    }
    .button-border__text{
        padding: 7px 18px 8px 18px;
    }
    .button-filled {
        padding: 9px 20px 10px 19px;
    }
    &__item {
        text-transform: capitalize;
        list-style: none;
        margin : 0px 0px 0px 20px;
        display: inline-block;
        cursor: pointer;
        color: $dark-50;
    }
    &__options-href::after,&__agree-href::after {
        font-family: 'Material Icons';
        content: 'expand_more';
        font-size: 24px;
        text-transform: lowercase;
        cursor: pointer;
        color: $dark-25;
        position: absolute;
        top: 0;
        right: -24px;
    }
    &__item:last-child {
        display: flex;
        align-items: center;
    }
    &__agree,&__options {
        margin-right: 44px;
    }
    &__options {
        margin-right: 24px;
    }
    &__options-bar, &__agree-bar {
        display: none;
        height: 0px;
        transition-duration: 500ms;
        .header__options-bar-item,
        .header__agree-bar-item{
            color: $dark-50;
        }
    }       
    &__agree-href,&__options-href{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__options.active ,&__agree.active {
        position: relative;
        .header__agree-bar {
            width: 120px;
        }
        .header__agree-href{
            width: 91px;
        }
        .header__options-bar, .header__agree-bar {
            display: block;
            position: absolute;
            top:20px;
            left: -5px;
            background-color: $white;
            color: $dark-50;
            border-radius: 0px 0px 4px 4px;
            height: 50px;
            .header__agree-bar-item,.header__options-bar-item {
                margin: 5px 7px;
            }
        }
        .agree-bar{
            width: 120px;
        }
        .header__options-bar {
            width: 80px;
        }
    }
    .button-border{
         margin-right: 20px;
    } 
    &__bar-smallscr{
        height : 40px;
        display: flex;
        align-items: center;
    }  
    &__list-smallscr {
        display : none;
        width : 40px;
        height : 100%;
        margin : 0px 5px;
        position: relative;
        z-index: 4;
        cursor: pointer;
    }
    &__list-smallscr span {
        position: absolute;
        background-color: $dark-100;
        height : 3px;
        left : 0;
        width : 100%;
        top : 19px;
        transition: all 0.5s ease 0s;
    }
    &__list-smallscr:before,
    &__list-smallscr:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $dark-100;
        left : 0;
        transition: all 0.3s ease 0s;
    }         
    &__list-smallscr:before {
        top : 8px;
    }
    &__list-smallscr:after{
        top: 29px;
    }
    &__list-smallscr.active span {
        transform: scale(0);
    }
    &__list-smallscr.active:before {
        transform: rotate(45deg);
        top : 22px;
    }
    &__list-smallscr.active:after {
        transform: rotate(-45deg);
        top: 22px;
    }
    &__entry-bar{
        display: flex;
        align-items: center;
        height: 40px;
    }
    &__divider{
        background:$dark-10;
        width: 1px;
        height: 30px;
        display: inline-block;
    }
    &__login{
        @extend %regular-text;
        text-transform: capitalize;
        display: inline;
        position: relative;
        color: $dark-50;
        margin: 0px 0px 0px 20px;
    }
    &__entry-bar-smallscr{
        display: none;
        margin: 0px 5px;
        border:2px solid $gray;
        border-radius: 12px;
        height: 30px;
        padding: 4px 4px 5px;
        a {
            display: block;
        }
        i.material-icons{
            font-size: 28px;
            padding: 4px;
            text-transform: lowercase;
            cursor: pointer;
        }     
    }
    .header__about a{
        @extend %label-text;
        font-size: 14px;
        color: $dark-75;
        text-transform: none;
    }
}
@media(max-width:1000px){
    .header__entry-bar{
        .button-filled {
            display: none;
        } 
    } 
    .header__entry-bar-register.smallscr {
        display: block;
    }
}
@media(max-width: 900px){
    .header__entry-bar{
        .button-border {
            display: none;
        } 
    } 
    .header__entry-bar-login {
        display: block;
    }
}
@media(max-width: 845px){ 
    .header__bar-smallscr {
        .header__entry-bar {
           display: none;
        }
        .header__entry-bar-smallscr{
           display: block;
        }
    }
}
@media(max-width: 820px){
    .header {
        &__list-smallscr {
            display: block;
        }
        &__list{
            display: flex;
            flex-direction: column;
            align-items: start;
            position: absolute;
            top: 70px;
            right: 0;
            height: 250px;
            padding: 0;
            width: 0;
            margin: 0px;
            overflow: hidden;
            background: $white;
            transition-duration: 500ms;
        }
        &__list.active:not(.smallscr){
            border: 2px solid $dark-50;
            padding: 14px;        
            transition-duration: 500ms;
            width: 120px;
            .header__item{
                margin:5px 0px;
            }
            .header__options .active ,.header__agree.active {
                flex-direction: column;
                align-items: flex-start;
                .header__options-bar,.header__agree-bar {
                    position: relative;
                    top:0px; 
                }
            }
        }
    }
}
@media(max-width: 650px){
    .header__body {
        padding: 0px 5px;
    }
}