.select[data-type='guests']{
    max-width: 320px;
}
.select[data-type='rooms']{
    max-width: 266px;
}
.select { 
    position: relative;
    margin: 0px 0px 20px 0px;
    border : 1px solid $dark-25;
    border-radius: 4px;
    max-width: 320px;
    height: 44px;
    box-sizing: border-box;
    &:hover {
        border: 1px solid $dark-50;  
        outline: none;  
        border-radius: 4px;  
    }
    &__text {
        @extend %regular-text;
        box-sizing: border-box;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $dark-75;
        padding: 11px 44px 0 14px;
        border-radius: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }
    &__text::after{
        font-family: 'Material Icons';
        content: 'expand_more';
        color: $dark-50;
        font-size: 24px;
        position: absolute;
        height: 24px;
        right: 10px;
        top: 13px;
    }
    &__bar {
        height: 0px;
    }
    &__edit-buttons{
        display: none;
    }
    &__list {
        appearance: none;
        border-top: none;
        padding : 0px;
        margin : 0px;
        display: none;                 
    }
    &__item {
        @extend %label-text;
        list-style: none;
        padding : 10px 0px 11px 15px;
        color:  $dark-100;
    }
}
.select.active {
    border: 1px solid $dark-50;
    box-shadow: $shadow-5;
    border-radius: 4px 4px 0px 0px;
    .select__bar {
        border: 1px solid $dark-50;
        border-top: none;
        border-radius: 0px 0px 4px 4px;
        display : block;
        justify-content: space-between;
        position: absolute;
        top : 102%;
        left : -1px;
        right : 0;
        background-color: $white;
        z-index: 4;
        width: 100%;
    }
    .select__list {
        position: relative;
        display: block;
        width: 100%;
    }
    .select__group{
        display: flex;
        justify-content: space-between;
        height : 30px;
        margin: 7px 0px 7px 0px;
    }
    .select__item {
        padding-top : 7px;
    }
    .select__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin : 7px 7px 7px 0px;
        width : 92px;
    }
    .select__count {
        @extend %label-text;
        color: $dark-100;
        margin : 0px;
    }
    .select__button {
        border-radius: 15px;
        width : 30px;
        height : 30px;
        outline: none;
        font-size: 18px;
        border : 1px solid $dark-25;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;      
        cursor: pointer;              
    }
    .select__button-minus{
        border : 1px solid $dark-25;
        color: $dark-25;
    }
    .select__button-minus.active {
        border: 1px solid $dark-50;
        color: $dark-50;
    }
    .select__button-plus {
        border: 1px solid $dark-50;
    }
    .select__edit-buttons {
        display: flex;
        justify-content: flex-end;
        padding: 12px 7px 13px 14px;
        border : none;
        .select__edit-button{
            height: 15px;
        }
        .select__button-clear{
            display: none;
        }
    }
    .select__edit-buttons.active{
        justify-content: space-between;
        .select__button-clear{
            display: block;
        }
    }
    &[data-type='rooms']{
        .select__bar{
            height: 119px;
        }
    }
    &[data-type='guests']{
        .select__bar{
            height: 159px;
        }
    }
}            