doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="colors-and-type.scss")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
        link(rel="manifest" href="./assets/favicons/site.webmanifest")
        link(rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
        title Colors and type
    body
        include ../../blocks/color-set/color-set
        include ../../blocks/type-set/type-set   
        include ../../blocks/logo/logo
        +logo({
            isColored: false
        })
        .colors-and-type__container
            .colors-and-type__column-color 
                +color-set({ setName: 'dark shade', setColor: '#1F2041', opacity: '100%' }) 
                +color-set({ setName: 'dark shade', setColor: '#1F2041', opacity: '75%' })
                +color-set({ setName: 'dark shade', setColor: '#1F2041', opacity: '50%' })
                +color-set({ setName: 'dark shade', setColor: '#1F2041', opacity: '25%' })
                +color-set({ setName: 'dark shade', setColor: '#1F2041', opacity: '5%' })
                +color-set({ setName: 'purple', setColor: '#BC9CFF', opacity: '' })  
                +color-set({ setName: 'green', setColor: '#6FC97F', opacity: '' })  
            .colors-and-type__column-type   
                +type-set({ setHeader: 'H1', setText: 'This one is the sub-section or widget title', setSize: '24px' })
                +type-set({ setHeader: 'H2', setText: 'Next one is the item title inside widgets', setSize: '19px' })
                +type-set({ setHeader: 'H3', setText: 'This is a label or CTA text', setSize: '12px' })
                +type-set({ setHeader: 'body', setText: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', setSize: '14px' })