@import "../../import/import.scss";
.colors-and-type {
    &__container{
        display: flex;
        justify-content: space-between;
        margin: 145px 158px;
    }
    &__column-color {
        @extend %item-title;
        text-transform: capitalize;
        line-height: 28px;
    }
    &__column-type{
        width: 436px;
    }
}