@import "../../import/import.scss";
.colors-and-type {
    &__container{
        display: flex;
        justify-content: space-between;
        margin: 145px 158px;
    }
    &__column-color {
        @extend %item-title;
        text-transform: capitalize;
        line-height: 28px;
    }
    &__column-type{
        width: 436px;
    }
}
.color-set {
    display: flex;
    margin-bottom: 20px;
    &__color-box {
        width: 70px;
        height: 70px;
        border-radius: 6px;
    }
    &__text-box{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        position: relative;
        top: 7px;
    }
    &__color-name{
        font-family: 'Montserrat';
        font-weight: normal;
    }
}
.type-set{
    display: flex;
    margin-bottom: 50px;
    &-H1, &-H2, &-H3{
        font-family: 'Montserrat';
        font-weight: normal;
    }
    &-H1{
        position: relative;
        left: 7px;
    }
    &-H2{
        position: relative;
        left: 10px;
    }
    &-H3 {
        text-transform: uppercase;
        position: relative;
        left: 20px;
    }
    &-body{
        @extend %regular-text;
        color: $dark-75;
    }
    &__header {
        font-family: 'Montserrat';
        color: $dark-25;
        margin: 0px 30px 0px 0px;
    }
}