@import "../../import/import.scss";
body{
    margin: 0px;
}
.colors-type-container{
    display: flex;
    justify-content: space-between;
    margin: 145px 158px;
}
.color-column{
    font-family: "Montserrat_Bold";
    text-transform: capitalize;
    font-size: 19px;
    line-height: 28px;
    .color-set {
        display: flex;
        margin-bottom: 20px;
        .color-set__color-box {
            width: 70px;
            height: 70px;
            border-radius: 6px;
        }
        .color-set__text-box{
            display: flex;
            flex-direction: column;
            margin-left: 40px;
            position: relative;
            top: 7px;
            .text__color-name{
                font-family: "Montserrat_Regular";
            }
        }
    }     
}
.type-column{
    width: 436px;
    .type-set-H1,.type-set-H2,.type-set-H3{
        font-family: "Montserrat_Bold";
    }
    .type-set-H1{
        position: relative;
        left: 7px;
    }
    .type-set-H2{
        position: relative;
        left: 10px;
    }
    .type-set-H3 {
        text-transform: uppercase;
        position: relative;
        left: 20px;
    }
    .type-set-Body{
        font-family: "Montserrat_Regular";
        color: rgba(31, 32, 65, 0.75);
        line-height: 24px;
    }
    .type-set{
        display: flex;
        margin-bottom: 50px;
    }
    .type__header {
        font-family: "Montserrat_Regular";
        color: rgba(31, 32, 65, 0.25);
        margin: 0px 30px 0px 0px;
    }
}