$dark-100: #1F2041;
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.5);
$dark-30: rgba(31, 32, 65, 0.3);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-20: rgba(0, 0, 0, 0.2);
$dark-10: rgba(31, 32, 65, 0.1);
$drop-shadow-10: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
$shadow-20: 0px 0px 25px rgba(31, 32, 65, 0.2);
$shadow-5: 0px 10px 20px rgba(31, 32, 65, 0.05);
$white: #FFFFFF;
$purple: #BC9CFF;
$blue:#8BA4F9;
$green: #6FCF97;
$cyan: #66D2EA;
$gray: #E5E5E5;
$purple-gradient: linear-gradient(180deg, $purple 0%, $blue 100%); 
$purple-gradient-50:(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
$green-gradient: linear-gradient(180deg, $green 0%, $cyan 100%);
$orange-gradient: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$gray-gradient: linear-gradient(180deg, #919191 0%, #3D4975 100%);
$slick-buttons-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
