%subsection-title {
    font-family: "Montserrat",Arial, sans-serif;
    font-weight: bold;
    color: $dark-100;
    font-size: 24px;
    line-height: 29px;
}
%item-title {
    font-family: "Montserrat",Arial, sans-serif;
    font-weight: bold;
    color: $dark-100;
    font-size: 19px;
    line-height: 23px;
}
%label-text {
    font-size: 12px;
    font-family: "Montserrat",Arial, sans-serif;
    font-weight: bold;
    color: $dark-100;
    line-height: 15px;
    text-transform: uppercase;
}
%regular-text {
    font-size: 14px;
    font-family: "Montserrat",Arial, sans-serif;
    font-weight: normal;
    color: $dark-75;
    line-height: 24px;
}
%card {
    background: $white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding : 40px 30px 30px 30px;
    border-radius: 4px;
    background: $white;
}
%text-field {
    height: 44px;
    border: 1px solid $dark-25;
    border-radius: 4px;
    box-sizing: border-box;
    color: $dark-75;
}
