mixin range-slider(text='диапазон цен')
        .range-slider
            .range-slider__info
                .range-slider__info-text=text
                input(class='range-slider__values js-range-slider__values' disabled)
            input.range-slider__body.js-range-slider__body