mixin range-slider(text="диапазон цен")
        .range-slider
            .range-slider__info
                .range-slider__info_text=text
                .range-slider__values
                    p.range-slider__values_from.js-range-slider__values_from
                    p.range-slider__values_to.js-range-slider__values_to
            input.range-slider__body.js-range-slider__body