@import "../../blocks/range-slider/ion-rangeslider.min.css";
.range-slider {
    width: 266px;
    margin-bottom: 10px;
    &__info {
        display: flex;
        justify-content: space-between;
        height: 15px;
        margin-bottom: 23.44px;
    }
    &__info_text{
        @extend %label-text;
    }
    &__values {
        @extend %regular-text;
        display: flex;
        align-items: center;
        p {
            color: $dark-50;
            font-size: 12px;
            margin : 0px;
        }
        &_to {
            margin-left: 2px;
        }
    }
    .irs {
        position: relative;   
        width: 266px;
        cursor: pointer;
        &--flat {
            height: 6px;
        }
        &-line,&-bar {
            top : 0px;
        }
        &-single,&-max,&-min, &-to,&-from {
            display: none;
        }
        &-line {
            width: 266px;
            height: 6px;
            background: $white;
            border: 1px solid $dark-25;
            box-sizing: border-box;
        }
        &-bar {
            background: $green-gradient;
            height: 6px;
            box-sizing: border-box;
        }
        &-handle {
            width: 16px;
            height: 16px;
            border: 2px solid $white;
            border-radius: 10px;
            background: $green-gradient;
            top : -5px;
            cursor: pointer;
            i {
                background: $green-gradient;
            }
        }
        &--flat &-handle>i:first-child {
            width: 0px;
        }
    }   
}