mixin range-slider(text="диапазон цен")
        .range-slider
            .slider__info
                .slider__info-text=text
                .slider__values
                    p.values-from.js-values-from
                    p.values-to.js-values-to
            input.range-slider__body.js-range-slider__body