.card-booking {
    @extend %card;
    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;   
        align-items: baseline;
        height: 30px;
    }
    .date-dropdown {
        margin-bottom: 20px;
    }
    .select {
        margin: 0px 0px 20px 0px;
    }
    &__subtitle {
        @extend %label-text;
        margin: 0px 0px 5px 0px;
    }
    &__price-info {    
        @extend %regular-text;
        display: flex;
        color: $dark-50;
    }
    &__room-info {
        font-size: 14px;
        color: $dark-100;
        display: flex;
        align-items: baseline;
    }
    &__number-symbol{
        font-family: 'Quicksand', Arial, sans-serif;
        font-weight: bold;
        margin: 0px;
    }
    &__number-value {
        font-family: 'Quicksand', Arial, sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: $dark-100;
        margin: 0px;
    }
    &__room-class {
        @extend %label-text;
        color: $purple;
        margin: 0px; 
    }
    &__price-value {
        @extend %label-text;
        display: inline;
        margin : 0px;
        font-size: 14px;
        line-height: 18px;
        color: $dark-50;
    }
    &__price-interval {
        @extend %regular-text;
        margin: 0px 0px 0px 4px;
        font-size: 12px;
        line-height: 18px;
        color: $dark-50;
    } 
    &__item {
        @extend %regular-text;
        color: $dark-75;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__cost{
        display: flex;
        justify-content: space-between;
    }
    &__description {
        display: flex;
        max-width: 239px;
    }
    &__info-icon {
        min-width: 20px;
        max-width: 20px;
        min-height: 20px;
        max-height: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $dark-25;
        border-radius: 10px;
        color : $dark-25;
        margin-left: 5px;
    }
    &__total {        
        margin-top: 30px;
    }
    &__total-description{
        @extend %item-title;
    }
    &__total-price {
        @extend %item-title;
    }
    &__total-divider {
        border-bottom : 1px dashed $dark-25; 
        height: 18px;
        flex-grow: 1;
        margin : 0px 5px;
    }
    .card-booking__additional-description{
        line-height: 18px;
    }
    .button-arrow {
        margin-top: 20px;
    }
}  