mixin radio-button(header="",gender="man")
        .radio-button
            if gender="man"
                label.radio__option
                    input.radio__option-button(type="radio", name="gender" checked)
                    span Мужчина
                label.radio__option
                    input.radio__option-button(type="radio", name="gender")
                    span Женщина
            else if gender="woman"
                label.radio__option
                    input.radio__option-button(type="radio", name="gender")
                    span Мужчина
                label.radio__option
                    input.radio__option-button(type="radio", name="gender" checked)
                    span Женщина
            else
                label.radio__option
                    input.radio__option-button(type="radio", name="gender")
                    span Мужчина
                label.radio__option
                    input.radio__option-button(type="radio", name="gender")
                    span Женщина 
