@import "../../import/import.scss";
.sign-in{
    &__container {
        width: 100%;
        display: flex;
        margin: 70px 0px 0px;
        justify-content: center;
        align-items: center;
        background: url(../../assets/pictures/sign-in__reg.jpg) no-repeat center center;
        background-size: cover;
    }
    &__container-card{
        width: 380px;
        margin: 172px auto;
    }
}
