@import "../../import/import.scss";
body{
   background: $white;
}
.form-elements {
    padding: 140px 141px 130px 140px;
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;
    &__col{
        display: flex;
        margin-right: 126px;
        min-width: 320px;
        flex-direction: column;
    }
    &__col-second{
        margin-right: 72px;
    }
    &__header {
        @extend %label-text;
        color: $dark-100;
        margin: 0px 0px 5px 0px;
    }
    &__col-third{
        .slct-container {
            margin-top: 260px;
        }
    }
    &__container{
        margin-bottom: 20px;
    }
    &__container.double-margin{
        
        margin-bottom: 40px;
    }
    &__container-select {
        margin-top: 100px;
    }
    &__container-checkbox{
        margin-top: 158px;
    }
    .toggle-divider{
        height: 10px;
    }
    &__container-pagination{
        margin-bottom: 122px;
    }
    &__container_flexible{
        display: flex;
        justify-content: space-between;
        max-width: 260px;
        .like-button:nth-child(2){
            margin-right: 170px;
        }
    }
    .container-rich-checkbox{
        margin-top: 256px;
    }
    .container-slider{
        display: flex;
        margin-bottom: 40px;
    }
    &__container-button {
        margin-bottom: 30px;
        max-width: 320px;
    }
    &__container-select.first {
        margin-top: 196px;
    }
    &__container-select.second{
        margin-top: 180px;
    }
    &__container-list{
        margin-top: 256px;
    }
    &__container_low{
        display: flex;
        margin-top: 100px;
    }
    &__container-icon-text{
        display: block;
        margin-right: 167px; 
        .icon-text-list{
            width: 291px;
        }
    }        
}   
   