include ../../import/import
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
        link(rel="manifest" href="./assets/favicons/site.webmanifest")
        link(rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
        title Form elements
    body 
        +logo({
            isColored: false
        })
        .form-elements
            .form-elements__col
                    .form-elements__container
                        p.form-elements__header text field
                        +text-field({placeholderText:'Email',textType: 'email',isMasked: false})
                    .form-elements__container
                        p.form-elements__header text field
                        +text-field({placeholderText: "This is pretty awesome",textType: "email",isMasked: false})
                    .form-elements__container
                        p.form-elements__header dropdown
                        +select({selectType: "guests",isActive : false, selectValues: [0,0,0] }) 
                    .form-elements__container.double-margin
                        p.form-elements__header masked text field
                        +text-field({placeholderText: "ДД.ММ.ГГГГ",isActive: "text",isMasked: true})
                    .form-elements__container.double-margin
                        +date-dropdown(true)
                    .form-elements__container.double-margin
                        p.form-elements__header filter date dropdown
                        +date-dropdown-filter(true)
                    .form-elements__container.double-margin
                        p.form-elements__header text field subscription
                        +text-field-subscription({ fieldType: "email", placeholderText: "Email"})
                    .form-elements__container.form-elements__container-select 
                        p.form-elements__header dropdown
                        +select({selectType: "rooms",isActive: false,selectValues: [2,2,0]})
                    .form-elements__container 
                        p.form-elements__header dropdown
                        +select({selectType: "rooms",isActive: true,selectValues: [2,2,0]})
                    .form-elements__container.form-elements__container-checkbox
                        +checkbox-list({
                            listHeader: "expendable checkbox list",
                            isActive: false,
                            listValues: [0,1,1,1,0,0],
                            listItems: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"]
                        })
                    .form-elements__container
                        +checkbox-list({
                            listHeader: "expendable checkbox list",
                            isActive: true,
                            listValues: [0,1,1,1,0,0],
                            listItems: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"]
                        })
            .form-elements__col.form-elements__col-second
                    .form-elements__container.double-margin 
                        p.form-elements__header checkbox buttons
                        +checkbox-buttons({
                            values: [0,1,1],
                            items: ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"]
                        })
                    .form-elements__container.double-margin 
                        p.form-elements__header radio buttons
                        +radio-buttons({
                            radioBtnName: "man"
                        })
                    .form-elements__container.double-margin
                        p.form-elements__header toggle
                        +toggle({ isChecked: true })
                        .toggle-divider
                        +toggle({ isChecked: false }) 
                    .form-elements__container.double-margin
                        p.form-elements__header like button
                        .form-elements__container_flexible
                            +like-button({
                                likesNum: 2,
                                isLikeBtnActive: false
                            })
                            +like-button({
                                likeNum: 12,
                                isLikeBtnActive: true
                            })
                    .form-elements__container 
                        p.form-elements__header rate button
                        .form-elements__container_flexible
                            +rating({rate: 4,ratingName: 'rating-4'})
                            +rating({rate: 5,ratingName: 'rating-5'})
                    .form-elements__container.form-elements__container-select.first 
                        p.form-elements__header dropdown
                        +select({selectType: 'guests',isActive: true,selectValues: [0,0,0]})
                    .form-elements__container.container-rich-checkbox
                        p.form-elements__header rich checkbox buttons
                        +rich-checkbox-buttons({
                            items: [
                                {
                                    header: 'Широкий коридор',
                                    mainText: 'Ширина коридоров в номере не менее 91 см.'
                                },
                                {
                                    header: 'Помощник для инвалидов',
                                    mainText: 'На 1 этаже вас встретит специалист и проводит до номера.'
                                }
                                ]})
            .form-elements__col.form-elements__col-third
                    .form-elements__container.container-slider 
                        +range-slider({sliderText: 'range slider'})
                    .form-elements__container
                        p.form-elements__header buttons
                        .form-elements__container-button
                            +button({buttonType: 'button-filled',text: 'click me'})
                        .form-elements__container-button
                            +button({buttonType: 'button-border',text: 'click me'})
                        .form-elements__container-button
                            +button({buttonType: 'button-icon',text: 'click me',isGray: false})
                        .form-elements__container-button
                            +button({buttonType: 'button-arrow',text: 'перейти к оплате'})
                    .form-elements__container.form-elements__container-pagination
                        p.form-elements__header pagination
                        +pagination
                    .form-elements__container.form-elements__container-select
                        .form-elements__header dropdown
                        +select({selectType: 'guests',isActive: true,selectValues: [2,1,0]})
                    .form-elements__container.form-elements__container-list
                        p.form-elements__header bullet list
                        +bullet-list({listItems: ['Нельзя с питомцами','Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
            .form-elements__container_low
                    .form-elements__container.form-elements__container-icon-text
                        +icon-text-list({
                            items:[
                            {
                            header:'Комфорт',
                            text:'Шумопоглощающие стены',
                            icon: 'insert_emoticon'
                            },
                            {
                            header: 'Удобство',
                            text: 'Окно в каждой из спален',
                            icon: 'location_city'
                            }
                            ]})
                    +card-comment({
                        likesNum: 12,
                        isActiveLikeBtn: true,
                        profileName: 'Мурад Сарафанов',
                        image: 'avatar.svg',
                        commentDate: '5 дней назад',
                        commentText: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                        })
