@import '../../import/import.scss';
body {
    @extend %regular-text;
    color: $dark-75;
}
.header__entry-bar-smallscr i.material-icons {
    position: relative;
    top:4px;
}
.room-details {
    &__container {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 'room-info statistics card-booking'
                            'card-comment card-comment card-booking'
                            'rules cancel row';
        grid-gap: 30px 10px;
        max-width: 1160px;
        margin : 70px auto 70px;
        padding: 0px 20px; 
    }
    &__container-images {
        height: 485px;
        max-width: 1440px;
        margin: 70px auto 67px;
        display: grid;
        grid-template-columns: 66% 33%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'first second'
            'first third'; 
    }
    &__container_first-image { 
        grid-area: first;
    }
    &__container_second-image {
        grid-area: second;
    }
    &__container_third-image {
        grid-area: third;
    }
    &__container-image img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__container-info {
        grid-area: room-info;
    }
    &__container-statistics {
        grid-area: statistics;
        margin: 0px auto;
    }
    &__container-card {
        grid-area: card-booking;
        max-width: 380px;
        margin: 0px auto;
    }
    &__container-comment {
        grid-area: card-comment;
        margin: 0px 70px 0px 0px;
        .card-comment{
            margin: 0px 0px 20px 0px;
        }
    }
    &__container-rules {
        grid-area: rules;
        margin: 0px auto;
    }
    &__container-cancel {
        grid-area: cancel;
        margin: 0px 105px 0px 0px;
    }
    &__comment-info {
        display: flex;
        justify-content: space-between;    
    }
    &__comment-number {
        margin: 0px;
    }
    &__container-header {
        @extend %item-title;
        margin: 0px 0px 20px 0px;
        color: $dark-100;
    }
    &__statistics-container {
        display: flex;
    }
    &__statistics-diagram {
        max-width: 121px;
        min-width: 121px;
        max-height: 121px;
        min-height: 121px;
        border-radius: 60.5px;
        overflow: hidden;
    }
    &__diagram {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'orange purple'
                             'orange green';
        grid-gap: 2px;
        &_orange{
            grid-area: orange;
            background: $orange-gradient;
        }
        &_purple {
            grid-area: purple;
            background: $purple-gradient;
        }
        &_green{
            grid-area: green;
            background: $green-gradient;
        }
    }    
    &__statistics-text {
        position: relative;
        width: 75px;
        height: 75px;
        top: -118px;
        left: 3px;
        padding: 20px;
        border-radius: 60.5px;
        display: flex;
        text-align: center;
        flex-direction: column;
        background: $white;
        color: $purple;
    }
    &__statistics-number{
        @extend %subsection-title;
    }
    &__statistics-voices {
        font-size: 12px;
        line-height: 15px;
    }
    &__statistics-number,&__statistics-voices {
        position: relative;
        top:13px;
        color: $purple;
    }
    &__statistics-info {
        list-style: none;
        padding-left: 30px;
        li::before{
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            margin-right: 5px;
        }
        &_excellent::before{
            background: $orange-gradient;
        }
        &_good::before{
            background: $green-gradient;
        }
        &_alright::before{
            background: $purple;
        }
        &_bad::before{
            background: $gray-gradient;
        }
    }
    &__cancel-text {
        margin: 0px;
    }
}
@media(max-width: 1110px){
    .room-details__container {
        max-width: 800px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 'card-booking card-booking' 
                            'room-info statistics'
                            'card-comment card-comment'
                            'rules cancel';
        padding: 0px 20px;
    }
    .room-details__container-statistics,.room-details__container-info {
        margin: 0px auto;
    }
    .room-details__container-cancel{
        margin: 0px auto;
    }
    .room-details__container-comment {
        margin: 0px auto;
    }
}
@media(max-width: 560px) {   
    .room-details__container {
        display: flex;
        flex-direction: column;
        padding: 0px 5px;
    }
    .room-details__container-images {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
        'first first'
        'second third';
    }
    .room-details__container-comment{
        padding: 0px 10px;
    }
}
@media(max-width: 450px) {
    .card-booking {
        padding: 20px 10px;
    }
    .room-details__statistics-info {
        padding:0px 10px;
    }
}