include ../../import/import
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
        link(rel="manifest" href="./assets/favicons/site.webmanifest")
        link(rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
        title Cards
    body 
        +logo({
            isColored: false
        })
        .cards__container
            .cards__col
                +card-room-search()
                +card-registration({ buttonArrowText: "перейти к оплате" })
            .cards__col
                +card-booking({
                    number: "888",
                    roomClass: "люкс",
                    cost: "9 990",
                    currency: "₽",
                    selectTitle: "гости",
                    selectType: "guests",
                    isActive: false,
                    selectNum: [1,2,0]
                    })
                +card-login
            .cards__col
                +calendar()
                +card-hotel-room({
                    roomNumber: 888,
                    roomImg: "room-888.jpg",
                    isLuxe: true,
                    starNum: 5,
                    roomCost: "9 990",
                    currency: "₽ ",
                    revNum: "145 "
                    })
                +card-hotel-room({ 
                    roomNumber: 840,
                    roomImg: "room-840.jpg",
                    isLuxe: false,
                    starNum: 4,
                    roomCost: "9 990",
                    currency: "₽ ",
                    revNum: "65 "
                    })
                