@import '../../import/import.scss';
body{
    background: $white;
    display: flex;
    .cards__container{
        padding : 150px 140px 140px 140px;
        display: flex;
    }
    .cards__col {
        display: inline-block;
        margin: 0px 40px 0px 0px;
        width: 380px;
    }
}