.checkbox-list {
    max-width: 266px;
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &-title {
            @extend %label-text;
        }
        &-arrow {
            padding : 10px 16px 16px 16px;
            transition-duration: 500ms;
        }
        &-arrow .material-icons{
            position: relative;
            top : 4px;
            transition-duration: 500ms;
            color: $dark-50;  
        }
    }   
    &__options {
        color: $dark-50; 
        height: 0px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        transition-duration: 500ms;  
        -moz-transition-duration: 500ms;
        .checkbox-buttons {
            display: none;
        }
    }
    &__info_active {
        .checkbox-list__info-arrow {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            transition-duration: 500ms;       
        }
    }
    &__options_active{ 
        width: 100%;
        height: 180px;
        background: $white;
        transition-duration: 500ms;  
        -moz-transition-duration: 500ms;
        opacity: 1;      
        .checkbox-buttons {
            display: block;
        }                            
    }
}  
  