mixin checkbox-list(text='дополнительные удобства',isActive=false,isChecked=[0,0,0,0,0,0])
        if isActive
            -listClass ='active'
        else
            -listClass =''
        -let items = ['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь']
        .checkbox-list
            div(class="list__info "+listClass)
                .info__type=text
                .info__arrow
                    i.material-icons.md-24 expand_more
            div(class="list__options "+listClass)
                -let i =0
                each name in items
                    if isChecked[i]
                        label.options__item
                            input.item__input(type="checkbox" checked)
                            span.check__box 
                            p=items[i]
                    else
                        label.options__item
                            input.item__input(type="checkbox")
                            span.check__box 
                            p=items[i]
                    -i++
                