mixin checkbox-list(props={})
        -const {listHeader,isActive, listValues, listItems} = props;
        if isActive
            -listClass ='active'
        else
            -listClass =''
        .checkbox-list.js-checkbox-list
            div.js-checkbox-list__info(class="checkbox-list__info "+listClass)
                .checkbox-list__info-title=listHeader
                .checkbox-list__info-arrow
                    i.material-icons.md-24 expand_more
            div.js-checkbox-list__options(class="checkbox-list__options "+listClass)
                +checkbox-buttons({values: listValues,items: listItems})
                