mixin checkbox-list(props={})
        -const {listHeader,isActive, listValues, listItems} = props;
        if isActive
            -listClasses = ["js-checkbox-list__info checkbox-list__info checkbox-list__info_active","js-checkbox-list__options checkbox-list__options checkbox-list__options_active"];
        else
            -listClasses =["js-checkbox-list__info checkbox-list__info","js-checkbox-list__options checkbox-list__options"]
        .checkbox-list.js-checkbox-list
            div(class=listClasses[0])
                .checkbox-list__info-title=listHeader
                .checkbox-list__info-arrow
                    i.material-icons.md-24 expand_more
            div(class=listClasses[1])
                +checkbox-buttons({values: listValues,items: listItems})
                