.button-filled {
    border: none;
    background: $purple-gradient;
    opacity: 1;
    outline: none;
    border : none;
    display: inline-block;
    padding: 14px 21px 15px 19px;
    border-radius: 22px;
    cursor: pointer;
    &__text {
        color : #FFFFFF;
        @extend %label-text;
        margin: 0px;
        cursor: pointer;
    }
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}
