.card-comment {
    max-width: 711px;
    display: flex;   
    &__avatar {
        width: 48px;
        height: 48px;
        }
    &__img{
        width: 46px;
        height: 46px;
        border-radius: 32px;
        filter: $drop-shadow-10;
        border: 2px solid $white;
    }   
    &__btn-container {
        margin: 12px auto;
        cursor: pointer;
        display: flex;
        justify-content: center;
    } 
    &__review {
        margin-left : 9.93px;
        position: relative;
        top: 3px;
    }
    &__info {
        @extend %regular-text;
        color: $dark-75;
        display: flex;
        flex-direction: column;
    }
    &__info-name {
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: bold;
        text-transform: capitalize;
    }
    &__text {
        @extend %regular-text;
        color: $dark-75;
        text-align: left;
        margin-top : 10px;
        margin : 0px;      
    }           
}