@import '../../import/import.scss';
.index {
    &__container{
        width: 100%;
        display: flex;
        margin : 0px auto;
        padding: 140px;
        justify-content: space-between;
    }
    &__list{
        list-style: none;
        margin: 0px 50px;
    }
    &__header {
        @extend %item-title;
        font-size: 20px;
    }
    &__item {
        @extend %regular-text;
        margin: 10px 0px;
        color: $dark-75;
        a{
            text-decoration: none;
        }
    }
}