.date-dropdown{
    height: 65px; 
    max-width: 320px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    grid-auto-flow: column;  
    margin : 0px 0px 27px 0px;
    &__item {
        position: relative;
    }
    &__item input {
        @extend %regular-text;
        border: 1px solid $dark-25;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        padding-left: 14px;
        height: 44px;
        color: $dark-75;
        outline: none;
        cursor: pointer;
    }  
    &__item::before{
        content: 'expand_more';
        font-family: "Material Icons";
        text-transform: lowercase;
        font-style: normal;
        font-size: 24px;
        position: absolute;
        top: 30px;
        right: 10px;
        color: $dark-50;
    }
    &__name {
        @extend %label-text;
        margin: 0px 0px 5px 0px;
        color: $dark-100;
    }   
}
.material-icons {
        font-family: "Material Icons";
        font-style: normal;
        font-size: 24px;
        color: $dark-50;
}