mixin card-room-search
        .card-room-search
            p.card-room-search__title Найдём номера под ваши пожелания
            .card-room-search__body
                include ../../blocks/date-dropdown/date-dropdown
                +date-dropdown()
                +select({selectType: 'guests',isActive: false,selectValues: [0,0,0]})    
                +button({buttonType: 'button-arrow',text: 'подобрать номер', isGray: false})