.card-room-search {
    @extend %card;
    display: block;
    max-width: 318px;
    .card__body{
        display: block;
    }
    p.card__title {
        @extend %subsection-title;
        color: $dark-100;
        margin: 0px 0px 21px 0px;
    }
    &__body {
        color: $dark-75;
    }
    &__subtitle{
        @extend %label-text;
    }
    .select{
        margin: 21px 0px 0px 0px;
        .info__type{
            @extend %regular-text;
            line-height: 15px;
            color: $dark-100;
        }
    }
    .button-arrow {
        position: relative;
        margin: 30px 0px 0px 0px;
    }
  } 