.card-room-search {
    @extend %card;
    display: block;
    max-width: 318px;
    color: $dark-75;
    &__title {
        @extend %subsection-title;
        color: $dark-100;
        margin: 0px 0px 21px 0px;
    }
    &__subtitle{
        @extend %label-text;
        margin: 0px 0px 5px 0px;
        line-height: 14px;
    }
    &__slct-container{
        margin: 21px 0px 0px 0px;
    }
    &__btn-container {
        margin: 30px 0px 0px 0px;
    }
  } 