@import '../../import/import.scss';
body{
    margin: 0px;
    background: $gray;
}
    .headers-and-footers__container {
        margin: 40px 0px;
    }
    .headers-and-footers__container.header{
        height: 70px;
        position: relative;       
    }
    .header{
        position: relative;
    }