mixin card-login
        .card-login
            p.card-login__title Войти
            +text-field('Email','email')
            +text-field('Пароль','password')
            +button('button-arrow','войти')
            .card-login__info
                span.card-login__info-text Нет аккаунта на Toxin?
                a.card-login__info-href(href="registration.html")
                    +button('button-border','создать')