mixin card-login
        .card-login
            p.card-login__title Войти
            +text-field('Email','email')
            +text-field('Пароль','password')
            +button-arrow('войти')
            .card-login__info
                p.card-login__info_text Нет аккаунта на Toxin?
                a.card-login__info_href(href="registration.html")
                    +button-border('создать')
                


