.card-login{
    @extend %card;
    padding-bottom: 32px;
    &__title {
        @extend %subsection-title;
        color: $dark-100;
        margin : 0px 0px 20px 0px;
    }
    &__txt-fld-container {
        margin-bottom: 10px;
    }
    &__btn-container {
        margin-top: 20px;
    }
    &__registration {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        align-items: center;
    }
    &__info {
            @extend %regular-text;
            margin: 0px;
            line-height: 18px;
            color: #000000;
        }
}