mixin bullet-list(items)   
            ul.bullet-list
                -let i = 0
                each item in items
                    li.bullet-list__item=items[i]
                    -i++               