mixin bullet-list
        .bullet__list
            ul
                li.list__item
                    .bullet
                    p.item__text Нельзя с питомцами
                li.list__item
                    .bullet
                    p.item__text Без вечеринок и мероприятий
                li.list__item
                    .bullet
                    p.item__text Время прибытия - после 13:00, а выезд - до 12:00