.bullet-list {
    max-width: 292px;
    padding: 0px;
    list-style: none;
    &__item{
        @extend %regular-text;
        list-style-type: none;
        margin-left: 20px;
        display: flex;
        align-items: center;
        margin-bottom:10px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: $dark-25;
            max-width: 10px;
            min-width: 10px;
            max-height: 10px;
            min-height: 10px;
            border-radius: 5px;
            left: -20px;
            top: 0.5em;
        }
    }       
}