.date-dropdown-filter {
    @extend %text-field;
    max-width: 266px;
    position: relative;
    padding: 10px 20px 0px 0px;
    cursor: pointer;
    &__dates {
        @extend %regular-text;
        display: flex;
        justify-content: space-between;  
        color: $dark-75;
        border: none;
        outline: none;
        width: 70%;
        cursor: pointer;
        padding-left: 15px;
    }
    &::after{
        font-family: 'Material Icons';
        content: 'expand_more';
        color: $dark-50;
        font-size: 24px;
        position: absolute;
        height: 24px;
        right: 10px;
        top: 10px;
    }
}