.rating {
    width: 120px;
    display: flex;
    flex-direction: row-reverse;
    &__button {
        display: none;
        margin: 0;
        padding: 0;
        &:checked ~ .rating__img {
            background: no-repeat center center  url(./pictures/rating.svg);
        }
        &:not(:checked) ~ .rating__img:hover ~ .rating__img {
            background: no-repeat center center  url(./pictures/rating-border.svg);
        }              
        &:not(:checked) ~ .rating__img:hover ~ .rating__img {
            background: no-repeat center center  url(./pictures/rating.svg);
        }  
    }    
    &__img {
        cursor: pointer;
        width: 24px;
        height: 24px;
        background: no-repeat center center url(./pictures/rating-border.svg);
        &:hover {
            background: no-repeat center center  url(./pictures/rating.svg);
            }
    }
}