@import "../../fonts/style/fonts.scss";
.rating {
    width: 120px;
    display: flex;
    flex-direction: row-reverse;
    &__star {
    display: none;
    margin: 0;
    padding: 0;
    &:checked ~ label {
            background: no-repeat center center  url(../../pictures/rating.svg);
    }
    &:not(:checked) ~ label:hover ~ label {
        background: no-repeat center center  url(../../pictures/rating-border.svg);
    }              
    &:not(:checked) ~ label:hover ~ label {
        background: no-repeat center center  url(../../pictures/rating.svg);
    }
    }
    
    
    label {
        cursor: pointer;
        width: 24px;
        height: 24px;
        background: no-repeat center center url(../../pictures/rating-border.svg);
        &:hover {
            background: no-repeat center center  url(../../pictures/rating.svg);
            }
    }
    
}