mixin text-field-subscription(fieldType='email',textFieldPlaceholder='Email')
    .text-field-subscription
        input.text-field-subscription__write-field(type=fieldType, placeholder=textFieldPlaceholder)
        button.text-field-subscription__button
            i.material-icons.md-24 arrow_forward