.text-field-subscription {
    @extend %regular-text;
    max-width: 267px;
    margin-top: 10px;    
    box-sizing: border-box;
    border: 1px solid $dark-25;
    border-radius: 4px;  
    display : flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    &__write-field {
        display: flex;
        justify-content: space-between;
        color: rgba(31, 32, 65, 0.75);
        border: none;
        outline: none;
        width: 100%;
        padding-left: 15px;   
        width: 90%;
    }
    &__subscribe-btn {
        width: 30px;
        height: 30px;
        border : none;
        background: $purple-gradient;
        padding: 0px;
        border-radius: 4px;
        position: relative;
        left: -1px;
        outline: none;
        cursor: pointer;
        i {                            
            padding : 8px 10px 8px 10px;
            background: $white;
            color :  $dark-100;
            mix-blend-mode: screen;
            border-radius: 4px;
            border: none;
            position: relative;
            left: -14px;
            top:1px;
        }
    }
    &:hover {
        border: 1px solid $dark-50;
        .text-field__write-field::placeholder {
            color: $dark-75;
        }
    }
}