mixin text-field-subscription()
    .text-field-subscription
        .text-field-subscription__body
                input.text-field-subscription__input(type='email', placeholder='Email')
                button.text-field-subscription__button
                    i.material-icons.md-24 arrow_forward