mixin text-field-subscription(props={})
    -const { fieldType, placeholderText } = props;
    .text-field-subscription
        input.text-field-subscription__write-field(type=fieldType, placeholder=placeholderText)
        button.text-field-subscription__subscribe-btn
            i.material-icons.md-24 arrow_forward