<!DOCTYPE html>
mixin card-registration(buttonArrowText)
        .card-registration
            p.card-registration__title Регистрация аккаунта
            +text-field('Имя','text')
            +text-field('Фамилия', 'text')
            +radio-buttons
            p.card-registration__subtitle дата рождения
            +text-field('ДД.ММ.ГГГГ','email',true)
            p.card-registration__subtitle данные для входа в сервис
            +text-field('Email','email')
            +text-field('Пароль','password')
            +toggle
            +button('button-arrow',buttonArrowText)
            .log-in
                span.log-in__info Уже есть аккаунт на Toxin
                a(href="sign-in.html")
                    +button('button-border','войти')

            