<!DOCTYPE html>
mixin card-registration(name='',fullname='',buttonArrowText)
        .card-registration.card
            p.card__title Регистрация аккаунта
            +text-field(name,'Имя','text')
            +text-field(fullname,'Фамилия', 'text')
            +radio-button
            p.card__subtitle дата рождения
            +text-field-masked()
            p.card__subtitle данные для входа в сервис
            +text-field('','Email','email')
            +text-field('','Пароль','password')
            +toggle
            +button-arrow(buttonArrowText)
            .log-in
                p.log-in__info Уже есть аккаунт на Toxin
                +button-border('войти')

            