.card-registration {
    @extend %card;
    display: block;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px $dark-20;
    &__title {
      @extend %subsection-title;
      color: $dark-100;
      margin: 0px 0px 21px 0px;
    }
    &__subtitle {
      @extend %label-text;
      margin : 20px 0px 5px 0px;
      color: $dark-100;
    }
    &__txt-fld-container {
      margin-bottom: 10px;
    }
    &__rd-btn-container {
      margin: 0px 0px 20px 0px;
    }
    &__tggl-container {
      margin: 0px 0px 20px 0px;
    }
    &__btn-container {
      margin: 0px 0px 30px 0px;
    }
    &__log-in{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__info{
      @extend %regular-text;
      line-height: 18px;
      color: #000000;
    } 
    .button-border {
      .button-border__text{
        padding: 12px 24px 13px;
      }
    }
  }