include ../../import/import
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
        link(rel="manifest" href="./assets/favicons/site.webmanifest")
        link(rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
        title Landing page
    body 
        +header({
                authorization: true,
                userName: 'юлий цезарь',
                headerItems: {
                items: [
                    {item: ['О нас']},
                    {item: ['Услуги','Услуга 1','Услуга 2']},
                    {item: ['Вакансии']},
                    {item: ['Новости']},
                    {item: ['Соглашения','Соглашение 1','Соглашение 2']}
                ]}
            })
        main.landing-page__body
            .landing-page__container 
                .landing-page__container-card
                    +card-room-search
                .landing-page__container-text
                    p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
        +footer({
            header :  ['Навигация','О нас','Служба поддержки','Подписка'],
            item1 : ['О нас','О сервисе','Соглашения','Получайте специальные предложения и новости сервиса'],
            item2 : ['Новости','Наша команда','Сообщества'],
            item3 : ['Служба поддержки','Вакансии','Связь с нами'],
            item4 : ['Услуги','Инвесторы']
            })