.rich-checkbox-buttons {
    max-width: 266px;
    &__item {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        position: relative;
    }
    &__button {
        position : absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0 );
    }
    &__check-box {
        margin-left: 0px;
    }
    &__button:checked  + &__check-box {
        border : 1px solid $purple;        
    }
    &__button:checked  + &__check-box:before {
        content : '';
        position : absolute;
        left: 4px;
        top : 3.5px;
        width: 9.9px;
        height: 9px;
        background: url(../../assets/pictures/vector.svg) no-repeat center center;
    } 
    &__check-box {
        position: absolute;
        top: -2px;
        width: 18px;
        height: 18px;
        background-color: $white;
        border:  1px solid $dark-25;
        border-radius: 4px;
    }
    &__text {
        position: relative;
        left:30px;
        max-width: 236px;
        &-header {
            @extend %label-text;
            line-height: 18px;
            color: $dark-75;
            margin-top: 0px;
            margin-bottom: 5px;
        }
        &_main {
            @extend %regular-text;
            font-size: 12px;
            line-height: 14px;
            color: $dark-50;
            margin : 0px;
        }
    }
}