mixin rich-checkbox-buttons()
        .checkbox-buttons-rich
            label.checkbox__options-item
                input.item-input(type="checkbox")
                span.check__box
                .item__text
                    p.text__header Широкий коридор
                    p Ширина коридоров в номере не менее 91 см.
            label.checkbox__options-item
                input.item-input(type="checkbox")
                span.check__box
                .item__text
                    p.text__header Помощник для инвалидов
                    p На 1 этаже вас встретит специалист и проводит до номера.        
            