mixin text-field(header="text field",text="Email",text_type="email") 
            .text-field
                p.text-field__info=header
                .text-field__body
                    form(action="", method="post")
                        input(type=text_type, placeholder=text)