mixin text-field(text='Email',text_type='email',masked=false)
    -let textClass;
    if masked
        -textClass = 'text-field-masked'
    else 
        -textClass = '' 
    div(class='text-field '+textClass)
        input.text-field__write-field(class='text-field__input '+textClass+'__input',type=text_type, placeholder=text)