mixin checkbox-buttons(values,...items)
        .checkbox-buttons
            -let i = 0
            each item in items
                label.checkbox-buttons__item
                    if values[i]
                        input.checkbox-buttons__button(type="checkbox" checked)
                    else
                        input.checkbox-buttons__button(type="checkbox")
                    .checkbox-buttons__check-box
                    span.checkbox-buttons__text=item
                -i++