.checkbox-buttons {
    min-height: 129px;
    p.title {
        font-family: "Montserrat_Bold";
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 16px;
    }
    .info__arrow i {
        position: relative;
        top : 4px;
        transition-duration: 500ms;
        color: rgba(31, 32, 65, 0.5);
    }
    .list__options {
            color: rgba(31, 32, 65, 0.5); 
            font-size: 14px;
            height: 0px;
            opacity: 0;
            display: flex;
            flex-direction: column;
            transition-duration: 500ms;  
            -moz-transition-duration: 500ms;
    } 
    .item__text { 
        max-width: 192px;
        p{
            font-family: "Montserrat_Regular";
            font-size: 14px;
            color: rgba(31, 32, 65, 0.5);
            position: relative;
            margin: 0px;            
        }       
    }
}
.options__item {        
    display: block;
    padding-bottom : 10.56px;
    max-width: 70%;
    padding-left: 30px;
    height : 20px;               
    pointer-events: auto;
}
.check__box {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border:  1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-left: -30px;
    margin-top: 0px;
} 
.item__input:checked  + .check__box:before {
    content : '';
    position : absolute;
    left: 4px;
    top : 3.5px;
    width: 9.9px;
    height: 9px;
    background: url(../../pictures/vector.svg) no-repeat center center;
} 
.options__item > .item__input {
    position : absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0 );
}
