.checkbox-buttons {
    &__item {        
    display: block;
    padding-bottom : 10.56px;
    max-width: 70%;
    padding-left: 30px;
    height : 20px;               
    pointer-events: auto;
    cursor: pointer;
    }
    &__check-box {
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: $white;
        border:  1px solid $dark-25;
        border-radius: 4px;
        margin-left: -30px;
        margin-top: 0px;
    } 
    &__input {
        position : absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0 );
    }
    &__input:checked  + &__check-box:before {
        content : '';
        position : absolute;
        left: 4px;
        top : 3.5px;
        width: 9.9px;
        height: 9px;
        background: url(../../assets/pictures/vector.svg) no-repeat center center;
    } 
    &__text { 
        @extend %regular-text;
        max-width: 192px;
        color: $dark-50;
        margin: 0px;            
    }
} 
